<!DOCTYPE html>
<html lang="en">




<head th:fragment="head">
<title>Tetris-Game</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/style.css">
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<style>
    body {
      background: #202028;
      color: #fff;
      font-family: sans-serif;
      font-size: 2em;
      text-align: center;
    }
    canvas {
      border: solid .2em #fff;
      heigth: 90vh;S
    }
  </style>

</head>


<body>




  <div id="score"></div>
  <canvas id="tetris" width="240" height="400"></canvas>
  <script src="tetris.js"></script>
  
  
  <br>
  <a href="/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true">Game Over</a>
  
 
  
</body>
</html>



<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tetris</title>
  <style>
    body {
      background: #202028;
      color: #fff;
      font-family: sans-serif;
      font-size: 2em;
      text-align: center;
    }
    canvas {
      border: solid .2em #fff;
      heigth: 90vh;
    }
  </style>
</head>
<body>
  <div id="score"></div>
  <canvas id="tetris" width="240" height="400"></canvas>
  <script src="tetris.js"></script>
</body>
</html>


 -->




